*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.clock {
    position: relative;
    width: 40rem;
    height: 40rem;
    border: 5px solid black ;
    border-radius: 50%;
    background: url("https://cssanimation.rocks/images/posts/clocks/ios_clock.svg") center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.secs {
   position: absolute; 
   top: 50%;
   left: 50%;
   width: .1rem;
   height: 12rem;
   background-color: rgb(20, 183, 224);
   transform: translateX(-50%);
   transform-origin: 25% 0;
}

.mins {
    position: absolute; 
    top: 50%;
    left: 50%;
    width: .3rem;
    height: 9rem;
    border-radius: 20px;
    background-color: rgb(75, 45, 0);
    transform: translateX(-50%);
    transform-origin: 25% 0;
 }

.hours {
    position: absolute; 
    top: 50%;
    left: 50%;
    width: .5rem;
    height: 6rem;
    border-radius: 15px;
    background-color: rgb(75, 45, 0);
    transform: translateX(-50%);
    transform-origin: 25% 0;
 }
 
.dot {
    position: absolute; 
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(75, 45, 0);
    transform: translateX(-50%);
}